html,
body {
	margin: 0;
	padding: 0;
	font-family: "Varela Round", sans-serif;
	font-size: 16px;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	user-select: none;
}

#wrapper {
	border-radius: 16px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.3);
	border: 8px solid white;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	flex-direction: column;
	border-radius: 10px;
	border: 8px solid #eee;
	transition: border-color 0.5s;
}

.dropdown {
	padding: 15px;
	margin: 20px;
	border: none;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	font-size: 20px;
	font-weight: bold;
	font-family: "Varela Round", sans-serif;
	appearance: none; /* This removes the default dropdown arrow in some browsers */
	-webkit-appearance: none; /* This removes the default dropdown arrow in Webkit browsers */
	-moz-appearance: none; /* This removes the default dropdown arrow in Firefox */
	position: relative; /* Add this line */
}

.dropdown option {
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

.button {
	padding: 15px;
	margin: 20px;
	border: none;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	font-size: 20px;
	font-weight: bold;
	font-family: "Varela Round", sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 20px;
}

.block {
	border: 2px solid black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	font-family: "Varela Round", sans-serif;
	border: 1px solid #eee;
}

.cell:focus {
	outline: none;
}
